@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.startDate {
  animation: startDateStartAnimation 0.3s ease-in;
  transition: all;
}

.startDateEnd {
  animation: startDateEndAnimation 0.3s ease-in;
  transition: all;
}

.endDate {
  animation: endDateStartAnimation 0.3s ease-in;
  transition: all;
}

.modal-animation {
  animation: engagementError 0.1s ease-in;
}

@keyframes engagementError {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes startDateStartAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes startDateEndAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes endDateStartAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.error {
  animation: errorAnimation 0.5s ease-in-out;
}

@keyframes errorAnimation {
  0% {
    transform: translateX(-20px);
  }

  25% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.upload-animation {
  animation: upload 0.7s infinite ease-in-out;
}

@keyframes upload {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  10% {
    transform: translateY(-2px);
    opacity: 0.8;
  }
  20% {
    transform: translateY(-4px);
    opacity: 0.6;
  }
  30% {
    transform: translateY(-6px);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-8px);
    opacity: 0.2;
  }

  50% {
    transform: translateY(-10px);
    opacity: 0;
  }

  60% {
    transform: translateY(-12px);
    opacity: 0.2;
  }
  70% {
    transform: translateY(-14px);
    opacity: 0.4;
  }
  80% {
    transform: translateY(-16px);
    opacity: 0.6;
  }
  90% {
    transform: translateY(-18px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.slide-down-animation {
  animation: slide-down 0.5s ease-in;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}
